.u-section-1 {
  background-image: url("images/climb.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 807px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: bold;
  margin: 626px auto 53px;
  padding: 45px 68px 45px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 48.28% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 412px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 299px;
    margin-bottom: 51px;
    padding: 19px 26px 21px;
  }
}